<header class="site-header">
	<nav class="main-navigation">
		<ul>
			<li>
				<a href="#">RSVP</a>
			</li>
			<li>
				<a href="#">Wedding Details</a>
			</li>
			<li>
				<a href="#">Registry</a>
			</li>
			<li>
				<a href="#">Our Story</a>
			</li>
			<li>
				<a href="#">Around Lowell</a>
			</li>
		</ul>
	</nav>
</header>