<footer class="site-footer">
	<div class="footer-top">
		<div class="contact-form footer-split">
			<h3>Any Questions?</h3>
			<form class="contact-form">
				<fieldset>
					<label class="hide-robot">
						<input name="firstname" type="text" id="firstname">
					</label>
					<label>
						<span>Name</span>
						<input type="text" class="email" name="name" value="" required>
					</label>
					<label>
						<span>Email</span>
						<input type="email" class="email" name="" value="" required>
					</label>
					<label>
						<span>Message</span>
						<textarea class="message" required></textarea>
					</label>
				</fieldset>
				<fieldset>
					<button type="submit">
					Send
					</button>
				</fieldset>
			</form>
		</div>
		<div class="social-media footer-split">
			<h3>Find Us Online</h3>
			<div class="wrap">
				<div class="social-media-andy">
					<h6>Connect with Andy</h6>
					<ul>
						<li>
							<span class="icon">

							</span>
							<a href="https://www.instagram.com/andy_lincoln" target="_blank" rel="noreferrer noopener">
								@andy_lincoln
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/andylincoln11" target="_blank" rel="noreferrer noopener">
								facebook.com/andylincoln11
							</a>
						</li>
					</ul>
				</div>
				<div class="social-media-sarah">
					<h6>Connect with Sarah</h6>
					<ul>
						<li>
							<span class="icon">
							
							</span>
							<a href="https://www.instagram.com/sarahcroughwell" target="_blank" rel="noreferrer noopener">
								@sarahcroughwell
							</a>
						</li>
						<li>
							<span class="icon">
							
							</span>
							<a href="https://www.facebook.com/sarah.croughwell" target="_blank" rel="noreferrer noopener">
								facebook.com/sarah.croughwell
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p>Created by Sarah and Andy with Love</p>
	</div>
</footer>