@charset "UTF-8";
//  _breakpoints.scss

$break-mobileXSmall: 320px;
$break-mobileSmall: 375px;
$break-mobileMedium: 425px;
$break-mobileLarge: 600px;
$break-tabletSmall: 768px;
$break-desktopSmall: 1024px;
$break-desktopMedium: 1366px;
$break-desktopLarge: 1920px;
$break-desktopXLarge: 2560px;  // 2k, 4k+