<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">
		<link rel="stylesheet" href='/stylesheets/vendor/normalize.css'/>
		<link rel="stylesheet" href="https://use.typekit.net/ivl3jxo.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p>This site is currently under construction</p>
	</body>
</html>
