<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="dns-prefetch" href="//use.typekit.net">
		<link rel="dns-prefetch" href="//www.eventbriteapi.com/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">
		<link rel="stylesheet" href="/stylesheets/vendor/normalize.css"/>
		<link rel="stylesheet" href="https://use.typekit.net/ivl3jxo.css">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/main.min.js" async></script>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p>This site is currently under construction</p>
	</body>
</html>
