<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>
	<body class="page-template-homepage">
		<div class="wrap">
			<% include partials/header %>
			<main>
				<article>
					<section class="landing-hero">
						<div class="monogram">
							<img src="" alt="" />
						</div>
						
						<div class="landing-hero-text">
							<h1>We’re Saying “I do.”</h1>
							<p>
								Lowell, Massachusetts | November 24, 2018
							</p>
						</div>
					</section>

				</article>
			</main>
			<% include partials/footer %>
		</div>
	</body>
</html>
