.landing-hero {
  position: relative;
  padding: 100px 30px 50px 30px;
  text-align: center;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 1720px;
    margin: 0 auto;

    @media screen and (min-width: $break-desktopSmall) {
      overflow: visible;
    }
  }

  .fern {
    position: absolute;
    top: 50%;
    width: 75%;

    &.fern-left {
      top: 75%;
      left: -25%;
      transform: translateY(-50%);

      @media screen and (min-width: $break-tabletSmall) {
        width: 50%;
      }

      @media screen and (min-width: $break-desktopSmall) {
        top: auto;
        left: 20px;
        bottom: 0;
        transform: none;
        width: 25%;
      }
    }

    &.fern-right {
      top: 25%;
      right: -25%;
      transform: translateY(-50%) scale(-1, -1);

      @media screen and (min-width: $break-tabletSmall) {
        width: 50%;
      }

      @media screen and (min-width: $break-desktopSmall) {
        top: 0;
        right: 20px;
        transform: scale(-1, 1) rotate(-270deg);
        width: 25%;
      }
    }
  }
}

.front-page-hero--heading {
  color: $color-white;
  font-size: 2.5625rem;
  line-height: 1.1;
  @media screen and (min-width: $break-desktopSmall) {
    font-size: 5.125rem;
  }
}

.front-page-hero--subheading {
  color: $color-white;
  width: 100%;
  font-size: 1.3125rem;
  text-transform: none;
  @media screen and (min-width: $break-desktopSmall) {
    font-size: 2.625rem;
  }
}

.front-page-hero--monogram {
  max-width: 120px;
  margin: 0 auto;
  @media screen and (min-width: $break-desktopSmall) {
    max-width: 200px;
  }
}
