.landing-hero {
  position: relative;
  background-color: $color-navy-blue;
  color: $color-white;
  padding: 100px 30px 50px 30px;
  text-align: center;

  &::before {
    content: '';
    background: left bottom/auto 75% url('../images/svg/fern.svg') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
  }
  &::after {
    display: none;
    @media screen and (min-width: $break-desktopSmall) {
      display: block;
      content: '';
      background: right top/auto 75% url('../images/svg/fern.svg') no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 0;
    }
  }
}

.front-page-hero--heading {
  color: inherit;
  font-size: 2.5625rem;
  line-height: 1.1;
  @media screen and (min-width: $break-desktopSmall) {
    font-size: 5.125rem;
  }
}

.front-page-hero--subheading {
  color: inherit;
  width: 100%;
  font-size: 1.3125rem;
  text-transform: none;
  @media screen and (min-width: $break-desktopSmall) {
    font-size: 2.625rem;
  }
}

.front-page-hero--monogram {
  max-width: 120px;
  margin: 0 auto;
  @media screen and (min-width: $break-desktopSmall) {
    max-width: 200px;
  }
}
