.rsvp-page {
  background: $color-off-white;
}

.rsvp-block {
  background: $color-off-white;
  padding: 0 1rem;
}

.rsvp-form {
  background: $color-off-white;
  color: $color-navy-blue;
  padding: 20px 0;

  label,
  legend {
    color: $color-navy-blue;
    font-family: $font-abril-fatface;
    font-size: 1.875rem;
    line-height: 1.1;
  }

  .description {
    display: block;
    color: $color-black;
    font-size: 1.5rem;
    font-family: $font-mr-eaves-modern;
    font-weight: 500;
    line-height: 1.08;
  }

  input[type='text'],
  input[type='email'],
  input[type='number'] {
    display: inline-block;
    background: none;
    border: none;
    border-bottom: $color-black 1px solid;
  }
  .rsvp-attending {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px 0;
  }
  .radio {
    display: inline-block;
    width: calc(50% - 4px - 10px);
    padding: 10px 0;
    margin: 0 5px;

    input[type='radio'] + label {
      color: $color-navy-blue;
      background: none;
      border: 1px solid $color-navy-blue;
      border-radius: 6px;
      padding: 0.25rem 0.5rem;
      font-family: $font-mr-eaves-modern;
      font-size: 1.25rem;
      line-height: 1.1;
      text-align: center;
      transition: all 0.2s ease-in;

      @media screen and (min-width: $break-desktopSmall) {
        font-size: 2rem;
      }
    }

    input[type='radio']:focus + label {
      outline: 1px solid $color-copper;
      outline-offset: 4px;
    }

    input[type='radio']:checked + label {
      color: $color-white;
      background: $color-navy-blue;
    }
  }

  .input-number {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px 0;

    label {
      display: inline-block;
      font-family: $font-mr-eaves-modern;
      font-size: 1.125rem;
      line-height: 1.1;
      padding-left: 0.25em;
      width: auto;

      @media screen and (min-width: $break-tabletSmall) {
        font-size: 2.25rem;
        padding-left: 0.5em;
      }
    }

    [type='number'] {
      color: $color-navy-blue;
      width: 60px;
      font-family: $font-abril-fatface;
      font-size: 1.125rem;
      line-height: 1.1;
      text-align: center;

      @media screen and (min-width: $break-tabletSmall) {
        font-size: 2rem;
      }
    }
  }
  .vegetarian::after {
    display: inline-block;
    content: '(Vegetarian)';
    font-family: $font-mr-eaves-modern;
    font-weight: normal;
    font-size: 1.125rem;
    vertical-align: middle;
    padding-left: 0.25em;
  }
  [type='submit'] {
    color: $color-white;
    background: $color-navy-blue;
    border-color: $color-navy-blue;
    font-size: 1.5rem;
    text-transform: none;
    &:hover,
    &:active {
      background: $color-copper;
      border-color: $color-copper;
    }
    @media screen and (min-width: $break-desktopSmall) {
      font-size: 2.25rem;
    }
  }
}
