.rsvp-hero {
  background: $color-off-white;
  color: $color-navy-blue;
}

.rsvp-hero--heading {
  color: $color-navy-blue;
  font-style: normal;
}

.rsvp-hero--subheading {
  font-weight: normal;
  text-transform: none;
  margin: 0 auto;
  max-width: 650px;
}
