// _three-col.scss

.three-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: left top/cover url('../static/backgrounds/monogram_tartan@2x.png')
    repeat;
  background-color: $color-navy-blue;
  padding: 1rem 0;

  @media screen and (min-width: $break-mobileLarge) {
    flex-flow: row wrap;
  }
  @media screen and (min-width: $break-tabletSmall) {
    padding: 2rem 0;
  }
  @media screen and (min-width: $break-desktopMedium) {
    padding: 4rem 0;
  }
  & .col {
    a {
      display: block;
      color: $color-white;
      font-size: 1.25rem;
      margin: 0.5rem auto;
      @media screen and (min-width: $break-desktopMedium) {
        font-size: 2.1875rem;
      }
    }
    .link-text {
      display: block;
      margin: 0.5em;
    }
    .icon {
      display: block;
      fill: $color-white;
      stroke: $color-white;
      max-height: 50px;
      @media screen and (min-width: $break-desktopMedium) {
        max-height: 100px;
      }
    }
  }
}
