.two-col {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: max-content;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  .col {
    flex: 0.5 1 50%;
    width: 50%;
    @supports (display: grid) {
      width: 100%;
    }
  }
}
