nav.wedding-details-nav {
  background: $color-white;
  margin: 0 auto;
  ul {
    display: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (min-width: $break-tabletSmall) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 1000px;
    }
    li {
      margin: 0 auto;
      @media screen and (min-width: $break-tabletSmall) {
        margin: 15px;
      }
    }
  }

  a {
    display: block;
    font-size: 1.875rem;
    &:hover,
    &:focus {
      color: $color-navy-blue;
      text-decoration: underline;
    }
    @media screen and (min-width: $break-desktopSmall) {
      font-size: 2.1875rem;
    }
  }
  .select-nav {
    padding: 15px;
    text-align: center;
    @media screen and (min-width: $break-tabletSmall) {
      display: none;
    }
  }
}
