/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  // remove highlight on android devices
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //  Smooth Fonts
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//  Text-highlight
::selection {
  background: $color-copper;
  color: $color-white;
}

::-moz-selection {
  background: $color-copper;
  color: $color-white;
}

:focus {
  outline: 1px solid $color-copper;
}

html {
  background: $color-off-white;
  color: $color-navy-blue;
  font-size: 16px;
  transition: 0.2s ease-out font, 0.2s ease-out color;
}

// Accessibly remove bullets from the lists
ul,
ol {
  li {
    list-style-type: none; /* remove bullets */
    &::before {
      content: '\200B'; /* add zero-width space */
    }
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}
