/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	// remove highlight on android devices
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	//	Smooth Fonts
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//	Text-highlight
::selection {
	/*background: ;
	color: ;*/
}

html {
	font-size: 16px;
	transition: 0.2s ease-out font, 0.2s ease-out color;
}
