$font-abril-fatface: "abril-fatface", "Rockwell", Georgia, serif;
$font-mr-eaves-modern: "mr-eaves-modern", "Century Gothic", Verdana, sans-serif;

$font-global: $font-mr-eaves-modern;
$font-title: $font-abril-fatface;