.site-footer {
  color: $color-white;
  background: left top/cover url('../static/backgrounds/monogram_tartan@2x.png')
    repeat;
  background-color: $color-navy-blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  h3 {
    color: $color-white;
    font-family: $font-title;
    line-height: 1.1;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: $break-desktopSmall) {
      text-align: left;
    }
  }

  h6 {
    color: $color-white;
    font-family: $font-global;
    font-size: 2.1875rem;
    line-height: 1.08;
    font-weight: normal;
    margin-bottom: 10px;
  }

  a {
    color: $color-white;
    font-size: 1.5rem;
    line-height: 1;

    &:hover,
    &:focus,
    &:active {
      color: $color-white;
      text-decoration: underline;
    }
    @media screen and (min-width: $break-desktopSmall) {
      font-size: 2.1875rem;
      line-height: 1.08;
    }
  }

  ul {
    padding: 0;
    li {
    }
  }

  div.contact-form {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - 20px);

    @media screen and (min-width: $break-desktopSmall) {
      max-width: 425px;
    }
  }

  .social-media {
    .wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .footer-col {
    margin: 25px auto;
    flex: 1 1 auto;
    width: 100%;
    max-width: calc(100% - 20px);
    padding: 0;

    @media screen and (min-width: $break-desktopSmall) {
      margin: 0 auto;
      flex: 0 1 50%;
      padding: 0 25px;
      width: 50%;
      max-width: 500px;
    }
  }

  .footer-top {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 25px;

    @media screen and (min-width: $break-desktopSmall) {
      padding: 50px 12.5px;

      &::after {
        position: absolute;
        top: 50px;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        display: block;
        // content: "";
        background: $color-white;
        width: 2px;
      }
    }
  }

  .footer-bottom {
    display: block;
    text-align: center;
    width: 100%;
  }
  .colophon {
    font-style: italic;
    font-size: 1.125rem;
  }
}
