nav.main-navigation {
  display: block;
  width: 100%;
  background: none;

  @media screen and (min-width: $break-desktopSmall) {
    padding: 0 0 0 70px;
  }

  ul.menu {
    visibility: hidden;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    max-width: calc(75%);
    will-change: left;
    transition: ease-in 0.2s left;
    background: $color-navy-blue-2;
    margin: 0;
    padding: 20px;
    z-index: 1;
    .page--home {
      img {
        display: none;
      }
    }
    @media screen and (min-width: $break-desktopSmall) {
      background: none;
      position: static;
      height: auto;
      max-width: none;
    }

    li {
      display: block;
      margin-right: 0;
      &:last-of-type {
        margin-right: 0;
      }
      @media screen and (min-width: $break-desktopSmall) {
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
        &.home {
          display: none;
        }
        &.page--home {
          width: 80px;
          img {
            display: block;
          }
          &::before {
            display: none;
          }
        }
      }
    }
  }

  a {
    display: inline-block;
    color: $color-white;
    font-size: 2.1875rem;

    &:hover,
    &:active,
    &:focus {
      color: $color-off-white;
      text-decoration: underline;
    }

    @media screen and (min-width: $break-desktopSmall) {
      font-size: 2.1875rem;
      line-height: 1.08;
    }
  }

  .menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    appearance: none;
    border: none;
    background: none;
    max-height: 50px;
    max-width: 50px;
    will-change: left, right;
    transition: ease-in 0.2s left;

    svg.icon {
      pointer-events: none;
      fill: $color-navy-blue;
      stroke: $color-navy-blue;
      max-height: 50px;
      max-width: 50px;
    }

    svg.icon-menu {
      display: block;
    }

    svg.icon-close {
      display: none;
      width: 50px;
    }

    &[aria-expanded='true'] {
      position: absolute;
      left: auto;
      right: 20px;
      z-index: 2;

      svg.icon-close {
        display: block;
      }

      svg.icon-menu {
        display: none;
      }
    }

    &[aria-expanded='false'] + .menu {
      visibility: hidden;
      left: -100%;

      @media screen and (min-width: $break-desktopSmall) {
        left: auto;
        visibility: visible;
      }
    }

    &[aria-expanded='true'] + .menu {
      visibility: visible;
      overflow: visible;
      left: 0;
      z-index: 1;
      li {
        margin-left: 15px;
      }
    }

    @media screen and (min-width: $break-desktopSmall) {
      display: none;
    }
  }
}

.main-navigation.main-navigation--interior {
  background: $color-white;
  color: $color-navy-blue;
  a {
    @media screen and (min-width: $break-desktopSmall) {
      color: $color-navy-blue;

      &.page--home {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      &.page--current {
        color: $color-copper;
        font-weight: bold;
      }

      &:hover,
      &:active {
        color: $color-navy-blue-2;
      }

      &.page--rsvp {
        border: 1px solid $color-navy-blue;
        border-radius: 8px;
        background: $color-navy-blue;
        color: $color-white;
        font-weight: normal;
        padding: 15px 30px;
      }
    }
  }
}

nav.main-navigation.main-navigation {
  &--front-page,
  &--interior {
    .menu-button {
      svg.icon {
        fill: $color-white;
        stroke: $color-white;
      }
    }
  }
}

.rsvp-page {
  nav.main-navigation.main-navigation {
    &--interior {
      .menu-button {
        svg.icon {
          fill: $color-navy-blue;
          stroke: $color-navy-blue;
        }
        // &[aria-expanded='true'] {
        //   fill: $color-navy-blue;
        //   stroke: $color-navy-blue;
        // }
      }
    }
  }
}
