nav.main-navigation {
  display: block;
  width: 100%;
  background: none;

  @media screen and (min-width: $break-desktopSmall) {
    padding: 0 0 0 70px;
  }

  ul.menu {
    display: none;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    will-change: left;
    transition: ease-in 0.2s left;
    background: $color-navy-blue-2;
    margin: 0;
    padding: 20px;
    z-index: 1;

    @media screen and (min-width: $break-desktopSmall) {
      background: none;
      position: static;
      height: auto;
    }

    li {
      display: block;
      @media screen and (min-width: $break-desktopSmall) {
        display: inline-block;
      }
    }
  }

  a {
    display: inline-block;
    color: $color-white;
    font-size: 2.1875rem;

    &:hover,
    &:active,
    &:focus {
      color: $color-off-white;
      text-decoration: underline;
    }
    @media screen and (min-width: $break-desktopSmall) {
      font-size: 2.1875rem;
      line-height: 1.08;
    }
  }
  .menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    appearance: none;
    border: none;
    background: none;
    max-height: 50px;
    max-width: 50px;
    svg.icon {
      pointer-events: none;
      max-height: 50px;
      max-width: 50px;
    }
    svg.icon-menu {
      display: block;
    }
    svg.icon-close {
      display: none;
      width: 50px;
    }
    &[aria-expanded='true'] {
      position: absolute;
      left: auto;
      right: 20px;
      z-index: 2;
      svg.icon-close {
        display: block;
      }
      svg.icon-menu {
        display: none;
      }
    }
    &[aria-expanded='false'] + .menu {
      display: none;
      @media screen and (min-width: $break-desktopSmall) {
        display: block;
      }
    }

    &[aria-expanded='true'] + .menu {
      display: block;
      left: 0;
      z-index: 1;
    }

    @media screen and (min-width: $break-desktopSmall) {
      display: none;
    }
  }
  ul {
    li {
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;
      }
      @media screen and (min-width: $break-desktopSmall) {
        margin-right: 30px;
      }
    }
  }
}

.main-navigation.main-navigation--interior {
  background: $color-white;
  color: $color-navy-blue;
  a {
    @media screen and (min-width: $break-desktopSmall) {
      color: $color-navy-blue;

      &.page--home {
        img {
          height: auto;
          max-width: 80px;
        }
      }

      &.page--current {
        color: $color-copper;
        font-weight: bold;
      }

      &:hover,
      &:active {
        color: $color-navy-blue-2;
      }

      &.page--rsvp {
        border: 1px solid $color-navy-blue;
        border-radius: 8px;
        background: $color-navy-blue;
        color: $color-white;
        font-weight: normal;
        padding: 15px 30px;
      }
    }
  }
}

svg.menu-icon {
  stroke: $color-white;
  fill: $color-white;
  height: 100%;
  width: 100%;
}
