// _colors.scss

$color-black: #2f2f2f;
$color-white: #ffffff;
$color-off-white: #ededed;

$color-navy-blue: #060c5c;
$color-navy-blue-2: #060a3e;
$color-forest-green: #1b361d;
$color-copper: #c05527;
