@charset "UTF-8";
//  _mixins.scss

@mixin clearfix() {
	&:before,
	&:after {
	  content: " ";
	  display: table;
	}
	&:after {
	  clear: both;
	}
}

@mixin aspect-ratio($width, $height, $contentSelector) {
	position: relative;
	overflow: hidden;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> #{$contentSelector} {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@mixin aspect-ratio-single-element($width, $height) {
	position: relative;
	overflow: hidden;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
}

@mixin icon-pseudo-element($height, $width) {
	content: '';
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: $height;
	width: $width;
}

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}
@mixin fontsize($size) {
	font-size: $size; 
	font-size: calculateRem($size);
}